@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-10px);
    }
}

#floating-button {
    animation: bounce 1.5s infinite;
}

#side-announcement {
    /* Ancho y altura del anuncio lateral */
    width: 350px;
    height: auto;
    /* Ajuste automático según el contenido */
}

/* Animación para mostrar el anuncio lateral */
.show {
    transform: translateX(0);
}
